{% assign sings = section.settings %}
{{ 'collection-pages.css' | asset_url | stylesheet_tag }}
{{ 'collection-header.css' | asset_url | stylesheet_tag }}
{%- style -%}

{%- endstyle -%}
<div class="collection-header-wrp">
  <div class="collection-header">
    <h1 class="collection-header-title">{{ sings.title }}</h1>
    {%- if sings.collection_description -%}
      <p class="collection-header-desc">
        {{ sings.collection_description }}
      </p>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Collection Title/Desc",
  "class": "section section-collection section-collection-header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collection title"
    },
    {
      "type": "text",
      "id": "collection_description",
      "label": "Collection description"
    }
  ],
  "templates":["collection"],
  "presets": [
    {
      "name": "Collection Title/Desc"
    }
  ]
}
{% endschema %}
