$dark-green-secondary: #418275;
$dark-green: #065142;
$neon-green: #00FABE;
$cream: #FFF1D8;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.cart__items{
  border-bottom: 0.2rem solid $dark-green !important;
}
cart-items{
  h1, .h1, 
  h2, .h2, 
  h3, .h3,
  h4, .h4,
  h5, .h5{
    word-break: unset;
  }
  .title-wrapper-with-link {
    flex-direction: column;
    h1.title.title--primary {
      text-transform: uppercase;
    }
  }
  table.cart-items{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    thead {
      display: none;
    }
    .cart-item{ 
      display: flex;
      margin-top: 30px;
      flex-direction: column;
      align-items: flex-end;
      @media screen and (min-width: 640px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      
      td{
        padding-top:0;
        line-height: 0;
        position:relative;
        &.cart-item__media {
          width: auto;
          height: auto;
          .cart-item__link{
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: absolute;
          }
        }

        &.cart-item__details{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: unset;

          align-items: flex-end;

          .cart-item__name {
            font-family: $k-heavy;
            color: $dark-green;
            font-size: 30px;
            line-height: 1.1;
            text-align:right;
          }
          .product-option {
            font-size: 16px;
            font-family: $k-med;
            color: $dark-green;
          }
        }
        &.cart-item__quantity{
          padding-left: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          quantity-input.quantity {
            background-color: $neon-grellow;
            color: $dark-green;
            width: 100px;
            border-radius: 7px;
            min-height: 40px;

            &:after {
              border: 0;
              border-radius: 7px;
              box-shadow: unset;
            }
            .quantity__input{
              font-family: $k-heavy;
              font-size: 18px;
            }
            button.quantity__button {
              width: auto;
              padding: 0 10px;
              border-radius: 7px;
            }
          }
          cart-remove-button{
            margin:0;
          }
        }
        &.cart-item__totals.right.medium-hide.large-up-hide {
          display: none;
        }
        &.cart-item__totals{
          display: flex;
          justify-content: center;
          align-items: center;
          .cart-item__price-wrapper span {
            margin: 0;
            font-size: 16px;
            font-family: $k-med;
            color: $dark-green;
          }
        }
      }
    }
   
    
    
    .cart-item__image-container.gradient.global-media-settings{
      img.cart-item__image {
        width: 250px;
        height: 250px;
        max-width: unset;
      }
    }
  }
}

.cart__footer-wrapper {
  max-width: 960px;
  margin: 0 auto;
  .cart__footer{
    
    button#checkout {
      background-color: $neon-grellow;
      color: $dark-green;
      border-radius: 7px;
      min-height: 50px;
      margin-bottom: 20px;
      font-family: $k-heavy;
      text-transform: uppercase;
      letter-spacing: 0;
      font-size: 24px;
      &:after{
        border-radius: 7px;
        border: none;
        box-shadow: unset;
      }
    }
    .shopify-cleanslate ._5a6PK6ZZ8knSIndXG3jvY {
      text-align: right !important;
      width: auto !important;
      margin-left: auto !important;
      font-size: 12px;
    }
  }
}

