.cart__items {
  border-bottom: 0.2rem solid #065142 !important;
}

cart-items h1, cart-items .h1,
cart-items h2, cart-items .h2,
cart-items h3, cart-items .h3,
cart-items h4, cart-items .h4,
cart-items h5, cart-items .h5 {
  word-break: unset;
}

cart-items .title-wrapper-with-link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

cart-items .title-wrapper-with-link h1.title.title--primary {
  text-transform: uppercase;
}

cart-items table.cart-items {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

cart-items table.cart-items thead {
  display: none;
}

cart-items table.cart-items .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 640px) {
  cart-items table.cart-items .cart-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

cart-items table.cart-items .cart-item td {
  padding-top: 0;
  line-height: 0;
  position: relative;
}

cart-items table.cart-items .cart-item td.cart-item__media {
  width: auto;
  height: auto;
}

cart-items table.cart-items .cart-item td.cart-item__media .cart-item__link {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: absolute;
}

cart-items table.cart-items .cart-item td.cart-item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: unset;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

cart-items table.cart-items .cart-item td.cart-item__details .cart-item__name {
  font-family: "Korolev-Heavy";
  color: #065142;
  font-size: 30px;
  line-height: 1.1;
  text-align: right;
}

cart-items table.cart-items .cart-item td.cart-item__details .product-option {
  font-size: 16px;
  font-family: "Korolev-Medium";
  color: #065142;
}

cart-items table.cart-items .cart-item td.cart-item__quantity {
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

cart-items table.cart-items .cart-item td.cart-item__quantity quantity-input.quantity {
  background-color: #ADFF44;
  color: #065142;
  width: 100px;
  border-radius: 7px;
  min-height: 40px;
}

cart-items table.cart-items .cart-item td.cart-item__quantity quantity-input.quantity:after {
  border: 0;
  border-radius: 7px;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

cart-items table.cart-items .cart-item td.cart-item__quantity quantity-input.quantity .quantity__input {
  font-family: "Korolev-Heavy";
  font-size: 18px;
}

cart-items table.cart-items .cart-item td.cart-item__quantity quantity-input.quantity button.quantity__button {
  width: auto;
  padding: 0 10px;
  border-radius: 7px;
}

cart-items table.cart-items .cart-item td.cart-item__quantity cart-remove-button {
  margin: 0;
}

cart-items table.cart-items .cart-item td.cart-item__totals.right.medium-hide.large-up-hide {
  display: none;
}

cart-items table.cart-items .cart-item td.cart-item__totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

cart-items table.cart-items .cart-item td.cart-item__totals .cart-item__price-wrapper span {
  margin: 0;
  font-size: 16px;
  font-family: "Korolev-Medium";
  color: #065142;
}

cart-items table.cart-items .cart-item__image-container.gradient.global-media-settings img.cart-item__image {
  width: 250px;
  height: 250px;
  max-width: unset;
}

.cart__footer-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.cart__footer-wrapper .cart__footer button#checkout {
  background-color: #ADFF44;
  color: #065142;
  border-radius: 7px;
  min-height: 50px;
  margin-bottom: 20px;
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 24px;
}

.cart__footer-wrapper .cart__footer button#checkout:after {
  border-radius: 7px;
  border: none;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.cart__footer-wrapper .cart__footer .shopify-cleanslate ._5a6PK6ZZ8knSIndXG3jvY {
  text-align: right !important;
  width: auto !important;
  margin-left: auto !important;
  font-size: 12px;
}
/*# sourceMappingURL=cart-overrides.css.map */