.section.section-collection.section-collection-items .collection-items-wrp {
  padding-bottom: 100px;
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-header {
  font-size: 25px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .collection-header {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 15px;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .collection-list-container {
    gap: 25px;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  width: 160px;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card {
    width: 270px;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .product-img {
  width: 160px;
  height: 160px;
  display: block;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .product-img {
    width: 270px;
    height: 270px;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card a.col-list-link {
  display: block;
  width: 100%;
  height: 100%;
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .btn-wrp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 270px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card img {
  max-width: 100%;
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .label-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  padding-bottom: 0;
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .label-price h2 {
  font-size: 16px;
  letter-spacing: 0;
  padding-right: 15px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .label-price h2 {
    font-size: 20px;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .label-price p {
  font-size: 12px;
  letter-spacing: 0;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .label-price p {
    font-size: 16px;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .product-info p {
  letter-spacing: 0;
  font-size: 10px;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .product-info p {
    font-size: 14px;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .product-info p span {
  font-family: "Korolev-Heavy";
  font-size: 12px;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .product-info p span {
    font-size: 16px;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card .product-info p.prod-gallon {
  margin-right: 10px;
}

.section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card a.learn-more-link.btn-link {
  margin-top: 10px;
  padding: 10px;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .collection-list-container .product-card a.learn-more-link.btn-link {
    padding: 14px 20px;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .subscribe-img.sub-img-m {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 70px;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .subscribe-img.sub-img-m {
    display: none;
  }
}

.section.section-collection.section-collection-items .collection-items-wrp .subscribe-img.sub-img-d {
  width: 270px;
  display: none;
}

@media screen and (min-width: 640px) {
  .section.section-collection.section-collection-items .collection-items-wrp .subscribe-img.sub-img-d {
    display: block;
  }
}
/*# sourceMappingURL=collection-items.css.map */