$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.section.section-collection.section-collection-items{
  margin-top:30px;
  @media screen and (min-width: 640px) {
    margin-top:70px;
  }

  .collection-items-wrp{
    .collection-header{
      font-size:25px;
      margin-bottom:15px;
      text-transform: uppercase;
      letter-spacing: 0;
      @media screen and (min-width: 640px) {
        font-size:35px;
        margin-bottom:20px;
      }
    }
    .collection-list-container{
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      gap: 15px;
      @media screen and (min-width: 640px) {
        gap: 25px;
      }
      @media screen and (min-width: 767px) {
        gap: 40px;
      }
      .product-card{
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
        width:160px;
        @media screen and (min-width: 640px) {
          width:270px;
        }
       
        img{
          max-width: 100%;
        }
        .label-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
          h2 {
            font-size: 16px;
            letter-spacing: 0;
            padding-right:15px;
            @media screen and (min-width: 640px) {
              font-size: 20px;
            }
          }
          p{
            font-size: 12px;
            letter-spacing: 0;
            @media screen and (min-width: 640px) {
              font-size: 16px;
            }
          }
        }
        .product-info {
          display: flex;
          p{
            font-size: 10px;
            @media screen and (min-width: 640px) {
              font-size: 14px;
            }
            span{
              font-family: $k-heavy;
              font-size: 12px;
              @media screen and (min-width: 640px) {
                font-size: 16px;
              }
            }
            &.prod-gallon{
              margin-right:10px;
            }
          }
        }
      }
    }
  }
}