$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.section.section-collection.section-collection-items{
  margin-top:30px;
  @media screen and (min-width: 640px) {
    margin-top:70px;
  }

  .collection-items-wrp{
    .collection-header{
      font-size:25px;
      margin-bottom:15px;
      text-transform: uppercase;
      letter-spacing: 0;
      @media screen and (min-width: 640px) {
        font-size:35px;
        margin-bottom:20px;
      }
    }
    .collection-list-container{

      .product-card{
        max-width:160px;
        @media screen and (min-width: 640px) {
          max-width:270px;
        }
      }
    }
  }
}