$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.section.section-collection.section-collection-items{

  .collection-items-wrp{
    padding-bottom: 100px;

    .collection-header{
      font-size:25px;
      margin-bottom:15px;
      text-transform: uppercase;
      letter-spacing: 0;
      @media screen and (min-width: 640px) {
        font-size:35px;
        margin-bottom:20px;
      }
    }
    .collection-list-container{
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      gap: 15px;
      @media screen and (min-width: 640px) {
        gap: 25px;
      }
      .product-card{
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
        width:160px;
        @media screen and (min-width: 640px) {
          width:270px;
        }

        // &:hover{
        //   .btn-wrp{
        //     display:flex;
        //   }
        // }
        .btn-wrp{
          display:none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 270px;
          justify-content: center;
          align-items: center;
          background-color: rgba(0,0,0,.2);
        }
        img{
          max-width: 100%;
        }
        .label-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
          h2 {
            font-size: 16px;
            letter-spacing: 0;
            padding-right:15px;
            @media screen and (min-width: 640px) {
              font-size: 20px;
            }
          }
          p{
            font-size: 12px;
            letter-spacing: 0;
            @media screen and (min-width: 640px) {
              font-size: 16px;
            }
          }
        }
        .product-info {
          display: flex;
          p{
            letter-spacing: 0;
            font-size: 10px;
            @media screen and (min-width: 640px) {
              font-size: 14px;
            }
            span{
              font-family: $k-heavy;
              font-size: 12px;
              @media screen and (min-width: 640px) {
                font-size: 16px;
              }
            }
            &.prod-gallon{
              margin-right:10px;
            }
          }
        }
      }
    }

    .subscribe-img{
      &.sub-img-m{
        display:block;
        width: 100%;
        max-width: 400px;
        margin-bottom: 70px;

        @media screen and (min-width: 640px) {
          display:none;
        }
      }
      &.sub-img-d{
        width:270px;
        display:none;
        @media screen and (min-width: 640px) {
          display:block;
        }
      }
    }
  }
}