$dark-green-secondary: #418275;
$dark-green: #065142;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';
@mixin korolev_heavy($theme: $dark-green){
  color:$theme;
  font-family: $k-heavy;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
}


.login-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .bg-img,
  .customer-wrp{
    width:100%;
    @media screen and (min-width: 767px) {
      width:50%;
    }
  }
  .bg-img{
    display:none;
    background:url('https://cdn.shopify.com/s/files/1/0575/8143/7028/files/bg-login.png') center top no-repeat;
    background-size:cover;
    @media screen and (min-width: 767px) {
      padding-bottom: 80%;
      display: block;
    }
  }
  .customer-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.customer{
  &.login,
  &.register,
  &:not(.account):not(.order){
    max-width: 420px;
    width: 100%;
    padding: 0 20px;
    text-align: left;

    form{
      margin-top: 20px;
    }
    button{
      margin: 20px 0;
      background-color:$neon-grellow;
      border-radius: 7px;
      @include korolev_heavy($theme: $dark-green);
      &:after{
        box-shadow: unset;
      }
    }
    a{
      margin:0;
      &[href="#recover"] {
        color: $dark-green;
        @include korolev_heavy($theme: $dark-green);
        margin-top: 10px;
      }
    }
    .field{
      &:after{box-shadow: none;}
      input[type="password"],
      input[type="text"],
      input[type="email"]{
        border-radius: 7px;
        border: 2px solid $dark-green;
      }
      label{
        color:$dark-green;
      }
    }
  }
  
  &.login{
    #login, #recover{
      text-transform: uppercase;
      line-height: 1;
      font-size: 50px;
    }
    #recover:target~.login-subtext,
    #recover:target~.login-fields{
      display: none;
    }
    
    p.login-subtext {
      margin-top: 10px;
      margin-bottom: 0;
    }
    .create-account {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a{
        @include korolev_heavy($theme: $dark-green);
        margin-left: 5px;
      }
      p{line-height: 1;margin:0;}
    }
    #rc_login {
      text-align: left;
      margin-top: 20px;
      h5,p{
        margin:0;
      }
    }
  }

  &.register{
    h1{
      text-transform: uppercase;
      line-height: 1;
      font-size: 50px;
    }
  }
}