.login-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login-wrp .bg-img,
.login-wrp .customer-wrp {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .login-wrp .bg-img,
  .login-wrp .customer-wrp {
    width: 50%;
  }
}

.login-wrp .bg-img {
  padding-bottom: 50%;
  display: block;
  background: url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/bg-login.png") center top no-repeat;
  background-size: cover;
}

.login-wrp .customer-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer.login, .customer.register, .customer:not(.account):not(.order) {
  max-width: 420px;
  width: 100%;
  padding: 0 20px;
  text-align: left;
}

.customer.login form, .customer.register form, .customer:not(.account):not(.order) form {
  margin-top: 20px;
}

.customer.login button, .customer.register button, .customer:not(.account):not(.order) button {
  margin: 20px 0;
  background-color: #ADFF44;
  border-radius: 7px;
  color: #065142;
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
}

.customer.login button:after, .customer.register button:after, .customer:not(.account):not(.order) button:after {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.customer.login a, .customer.register a, .customer:not(.account):not(.order) a {
  margin: 0;
}

.customer.login a[href="#recover"], .customer.register a[href="#recover"], .customer:not(.account):not(.order) a[href="#recover"] {
  color: #065142;
  color: #065142;
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
  margin-top: 10px;
}

.customer.login .field:after, .customer.register .field:after, .customer:not(.account):not(.order) .field:after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.customer.login .field input[type="password"],
.customer.login .field input[type="text"],
.customer.login .field input[type="email"], .customer.register .field input[type="password"],
.customer.register .field input[type="text"],
.customer.register .field input[type="email"], .customer:not(.account):not(.order) .field input[type="password"],
.customer:not(.account):not(.order) .field input[type="text"],
.customer:not(.account):not(.order) .field input[type="email"] {
  border-radius: 7px;
  border: 2px solid #065142;
}

.customer.login .field label, .customer.register .field label, .customer:not(.account):not(.order) .field label {
  color: #065142;
}

.customer.login #login, .customer.login #recover {
  text-transform: uppercase;
  line-height: 1;
  font-size: 50px;
}

.customer.login #recover:target ~ .login-subtext,
.customer.login #recover:target ~ .login-fields {
  display: none;
}

.customer.login p.login-subtext {
  margin-top: 10px;
  margin-bottom: 0;
}

.customer.login .create-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer.login .create-account a {
  color: #065142;
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
  margin-left: 5px;
}

.customer.login .create-account p {
  line-height: 1;
  margin: 0;
}

.customer.login #rc_login {
  text-align: left;
  margin-top: 20px;
}

.customer.login #rc_login h5, .customer.login #rc_login p {
  margin: 0;
}

.customer.register h1 {
  text-transform: uppercase;
  line-height: 1;
  font-size: 50px;
}
/*# sourceMappingURL=customer-overrides.css.map */