.login-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login-wrp .bg-img,
.login-wrp .customer-wrp {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .login-wrp .bg-img,
  .login-wrp .customer-wrp {
    width: 50%;
  }
}

.login-wrp .bg-img {
  padding-bottom: 50%;
  display: block;
  background: url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/bg-login.png") center top no-repeat;
  background-size: cover;
}

.login-wrp .customer-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-wrp .customer.login {
  max-width: 400px;
  width: 100%;
  padding: 0 20px;
  text-align: left;
}

.login-wrp .customer.login .customer form {
  margin-top: 30px;
}

.login-wrp .customer.login form {
  margin-top: 20px;
}

.login-wrp .customer.login button {
  margin: 20px 0;
  background-color: #ADFF44;
  border-radius: 7px;
  color: #065142;
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
}

.login-wrp .customer.login button:after {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.login-wrp .customer.login a {
  margin: 0;
}

.login-wrp .customer.login #login {
  text-transform: uppercase;
  line-height: 1;
}

.login-wrp .customer.login .field:after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login-wrp .customer.login .field input[type="password"],
.login-wrp .customer.login .field input[type="email"] {
  border-radius: 7px;
  border: 2px solid #065142;
}

.login-wrp .customer.login .field label {
  color: #065142;
}

.login-wrp .customer.login p.login-subtext {
  margin-top: 10px;
  margin-bottom: 0;
}

.login-wrp .customer.login .create-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-wrp .customer.login .create-account a {
  color: #065142;
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
  margin-left: 5px;
}

.login-wrp .customer.login .create-account p {
  line-height: 1;
  margin: 0;
}

.login-wrp .customer.login a[href="#recover"] {
  color: #065142;
  color: #065142;
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
  margin-top: 10px;
}

.login-wrp .customer.login #rc_login {
  text-align: left;
  margin-top: 20px;
}

.login-wrp .customer.login #rc_login h5, .login-wrp .customer.login #rc_login p {
  margin: 0;
}
/*# sourceMappingURL=customer-overrides.css.map */