$dark-green-secondary: #418275;
$dark-green: #065142;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.login-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .bg-img,
  .customer-wrp{
    width:100%;
    @media screen and (min-width: 767px) {
      width:50%;
    }
  }
  .bg-img{
    padding-bottom: 50%;
  }
  .customer-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .customer.login{
    max-width: 400px;
    width: 100%;
    padding: 0 20px;
    
    #login{
      text-transform: uppercase;
    }
  }
}