@font-face {
  font-family: "Korolev-Medium";
  src: url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevMedium.woff2") format("woff2"), url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevMedium.woff") format("woff");
}

@font-face {
  font-family: "Korolev-Heavy";
  src: url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevHeavy.woff2") format("woff2"), url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevHeavy.woff") format("woff");
}

body .instafeed-wrp {
  background-color: #065142;
  padding: 0 20px;
  padding-top: 100px;
}

@media only screen and (min-width: 1200px) {
  body .instafeed-wrp {
    padding: 0;
    padding-top: 100px;
  }
}

body .instafeed-wrp .instafeed-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 0 1%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .instafeed-wrp .instafeed-header h1 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

@media only screen and (min-width: 640px) {
  body .instafeed-wrp .instafeed-header h1 {
    font-size: 25px;
  }
}

body .instafeed-wrp div#insta-feed {
  max-width: 1200px;
  padding: 20px 0px;
}

body .instafeed-wrp .ig-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .instafeed-wrp .ig-link a strong {
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

@media only screen and (min-width: 640px) {
  body .instafeed-wrp .ig-link a strong {
    font-size: 20px;
  }
}

body .footer {
  margin-top: 0;
  background-color: #065142;
  color: white;
}

body .footer .footer-content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 0 20px;
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1000px) {
  body .footer .footer-content-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .footer .footer-content-top .footer-block-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

@media only screen and (min-width: 640px) {
  body .footer .footer-content-top .footer-block-newsletter {
    margin: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  body .footer .footer-content-top .footer-block-newsletter {
    max-width: 450px;
  }
}

body .footer .footer-content-top .footer-block-newsletter h1.form-title {
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

body .footer .footer-content-top .footer-block-newsletter .footer-newsletter {
  width: 100%;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form {
  margin-bottom: 30px;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form form div:first-child {
  min-height: unset !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] {
  padding: 0 !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] input {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] input::-webkit-input-placeholder {
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] input:-ms-input-placeholder {
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] input::-ms-input-placeholder {
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] input::placeholder {
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] input:-webkit-autofill, body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] input:-webkit-autofill:hover, body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] input:-webkit-autofill:focus, body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  color: white !important;
  -webkit-text-fill-color: white !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[component] button {
  font-size: 0 !important;
  background: url("//cdn.shopify.com/s/files/1/0575/8143/7028/files/icon-Arrow-Right.png") center center no-repeat !important;
  width: 25px !important;
  height: 25px !important;
  background-size: 15px !important;
  background-color: #ADFF44 !important;
  border-radius: 50% !important;
  padding: 0 !important;
  margin-right: 10px !important;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  position: absolute;
  top: 12px;
  right: 0px;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[data-testid="form-row"] input[type="email"] {
  border-radius: 10px !important;
  border: 2px solid white !important;
  height: 50px !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[data-testid="form-row"] .ql-editor p, body .footer .footer-content-top .footer-block-newsletter .klaviyo-form div[data-testid="form-row"] .ql-editor p strong {
  color: white !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 {
  width: 100%;
  margin-bottom: 0;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form {
  padding: 0 !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form.klaviyo-form span[role="alert"] {
  color: black !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form div.ql-container:first-child strong {
  margin: 0 !important;
  font-size: 25px !important;
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form div.ql-container:nth-child(1) span {
  font-size: 16px !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="First Name"],
body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="Phone Number"] {
  min-height: unset !important;
  border-radius: 10px !important;
  padding: 0px 0px 0px 16px;
  border: 2px solid white !important;
  height: 50px !important;
  background-color: transparent !important;
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="First Name"]::-webkit-input-placeholder,
body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="Phone Number"]::-webkit-input-placeholder {
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="First Name"]:-ms-input-placeholder,
body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="Phone Number"]:-ms-input-placeholder {
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="First Name"]::-ms-input-placeholder,
body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="Phone Number"]::-ms-input-placeholder {
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="First Name"]::placeholder,
body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="Phone Number"]::placeholder {
  color: white !important;
  font-family: "Korolev-Medium";
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="First Name"]:-webkit-autofill, body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="First Name"]:-webkit-autofill:hover, body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="First Name"]:-webkit-autofill:focus, body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="First Name"]:-webkit-autofill:active,
body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="Phone Number"]:-webkit-autofill,
body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="Phone Number"]:-webkit-autofill:hover,
body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="Phone Number"]:-webkit-autofill:focus,
body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form input[aria-label="Phone Number"]:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  color: white !important;
  -webkit-text-fill-color: white !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form div[data-testid="form-row"]:nth-child(3) {
  margin-top: 15px;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form div[data-testid="form-row"]:nth-child(3) button {
  top: 15px;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form div[data-testid="form-row"]:nth-child(4) {
  margin-top: 15px;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form div[data-testid="form-row"]:nth-child(4) button {
  font-size: 20px !important;
  background: none !important;
  width: auto !important;
  height: auto !important;
  background-size: unset !important;
  background-color: #ADFF44 !important;
  border-radius: 7px !important;
  padding: 12px 20px !important;
  margin-right: 0px !important;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  position: relative;
  top: auto !important;
  right: auto !important;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form div[data-testid="form-row"]:nth-child(5) {
  margin-top: 65px;
}

body .footer .footer-content-top .footer-block-newsletter .klaviyo-form.klaviyo-form-S9ua27 form div[data-testid="form-row"]:nth-child(5) a.ql-font-korolev {
  font-size: 16px !important;
}

body .footer .footer-content-top .list-social .list-social__item {
  background-color: #ADFF44;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .footer .footer-content-top .list-social .list-social__item img {
  width: 30px;
  height: 30px;
}

body .footer .footer-content-top .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 650px;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 640px) {
  body .footer .footer-content-top .footer-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (min-width: 1000px) {
  body .footer .footer-content-top .footer-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
}

body .footer .footer-content-top .footer-nav .links-wrp {
  max-width: 180px;
  width: 48%;
  margin: 0 1%;
  max-width: 160px;
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (min-width: 420px) {
  body .footer .footer-content-top .footer-nav .links-wrp {
    max-width: 200px;
  }
}

@media only screen and (min-width: 640px) {
  body .footer .footer-content-top .footer-nav .links-wrp {
    margin-bottom: 0px;
    text-align: left;
    width: 31%;
  }
}

@media only screen and (min-width: 1000px) {
  body .footer .footer-content-top .footer-nav .links-wrp {
    max-width: 180px;
  }
}

@media only screen and (min-width: 1200px) {
  body .footer .footer-content-top .footer-nav .links-wrp {
    max-width: 200px;
  }
}

body .footer .footer-content-top .footer-nav .links-wrp a {
  color: white;
  text-decoration: none;
}

body .footer .footer-content-top .footer-nav .links-wrp a.main-link {
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-family: "Korolev-Heavy";
  display: block;
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
  margin-bottom: 20px;
}

body .footer .footer-content-top .footer-nav .links-wrp a.main-link[href*="/pages/ccpa-opt-out"] {
  font-size: 15px;
}

body .footer .footer-content-top .footer-nav .links-wrp a.sub-links {
  font-size: 16px;
  display: block;
}

body .footer .footer-content-bottom {
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 20px;
}

body .footer .footer-content-bottom .footer-bottom-wrp {
  border-top: 1px solid white;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 401px) {
  body .footer .footer-content-bottom .footer-bottom-wrp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body .footer .footer-content-bottom .footer-bottom-wrp .footer__copyright.caption {
  margin: 0;
}

body .footer .footer-content-bottom .footer__copyright small,
body .footer .footer-content-bottom .footer__copyright small a,
body .footer .footer-content-bottom .footer-legal-links a {
  color: white;
  text-decoration: none;
  font-size: 10px;
  padding: 5px;
}

@media only screen and (min-width: 401px) {
  body .footer .footer-content-bottom .footer__copyright small,
  body .footer .footer-content-bottom .footer__copyright small a,
  body .footer .footer-content-bottom .footer-legal-links a {
    padding: 10px;
  }
}

@media only screen and (min-width: 640px) {
  body .footer .footer-content-bottom .footer__copyright small,
  body .footer .footer-content-bottom .footer__copyright small a,
  body .footer .footer-content-bottom .footer-legal-links a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main-footer.css.map */