$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #FFF1D8;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';
@font-face {
  font-family: "Korolev-Medium";
  src: url('https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevMedium.woff2') format('woff2'), url('https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevMedium.woff') format('woff');
}
@font-face {
  font-family: "Korolev-Heavy";
  src: url('https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevHeavy.woff2') format('woff2'), url('https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevHeavy.woff') format('woff');
}

body{
  // HEADER
  .header{
    height: 50px;
    padding:0 2rem;
    @media only screen and (min-width: 640px) {
      height: 65px;
    }
    &.header--middle-left {
      grid-template-areas: 'navigation heading icons';
      grid-template-columns: 1fr auto 1fr;
    }
    .header__heading-logo {
      width: 102px;
      height: auto;
    } 
    .header__heading-link{
      margin: 0;
      @media only screen and (min-width:990px) {
        margin: 0;
      }
    }
    
    nav.header__inline-menu {
      .list-menu {
        &.list-menu--inline {
          align-items: center;
        }
        details{
          &[open] {
            > .header__menu-item{
              text-decoration: unset;
              .arrow-drop{
                display: block;
                z-index: 11;
              }
            }
            .header__submenu {
              background-color:$neon-green;
              padding: 5rem 0;
              
              .list-menu__item.link.link--text{
                font-size: 30px;
                letter-spacing: 0;
                text-transform: uppercase;
                font-family: $k-heavy;
                color:$dark-green;

                &:hover{
                  color:$neon-grellow;
                }
              }
            }

            > .header__submenu{
              width: 100vw;
              left: 0;
              position: fixed;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          summary {
            &.list-menu__item{
              padding: 10px;
              position: relative;
            }
            span{
              font-family: $k-heavy;
              text-transform: uppercase;
              text-decoration: none;
              color:$dark-green;
              font-size:20px;
              border-radius: 5px;
              padding:5px;
            }
            .arrow-drop{
              width: 30px;
              position: absolute;
              left: calc(50% - 15px);
              bottom: -20px;
              display: none;
            }
  
            &:hover{
              span{
                background-color:$neon-grellow;
              }
            }
          }
        }

        .header__menu-item.header__menu-item.list-menu__item.link.link--text span{
          font-family: $k-heavy;
          text-transform: uppercase;
          text-decoration: none;
          color:$dark-green;
          font-size:20px;
          border-radius: 5px;
          padding:5px;
          &:hover{
            background-color:$neon-grellow;
          }
        }
      }
    }
  
    .header__icons{
      .header__icon{
        width:auto;
        height:auto;
        text-decoration: none;
        border-radius: 5px;
        padding: 0 5px;
        position: relative;
        &:hover{
          background-color:$neon-grellow;
        }
        span{
          font-family: $k-heavy;
          text-transform: uppercase;
          color:$dark-green;
          font-size:20px;
        }
        .lnk-cpy{
          margin-right: 5px;
        }
        .lnk-img {
          height: auto; 
          width: 25px;
          padding: 5px 0;
        }
        &--cart{
          .cart-count-bubble{
            right: 0;
            left: auto;
            color: white!important;
            background-color: #00fabe !important;
            bottom: 0;
            span{
              font-size:12px;
            }
          }
        }
      }
  
    }
    .nav-text{
      display: none !important;
      @media only screen and (min-width:750px) {
        display: inline-block !important;
      }
    }

    .menu-drawer-container{
      .menu-drawer {
        .menu-drawer__menu-item {
          font-family: $k-heavy;
          text-transform: uppercase;
          letter-spacing: 0;
          color: $dark-green;
          font-size: 24px;
        }
      }
      &.menu-opening{
        .menu-drawer {
          background-color:$neon-green;
        }
      }
    }
    
  }
}