$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;

$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';
@font-face {
  font-family: "Korolev-Medium";
  src: url('https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevMedium.woff2') format('woff2'), url('https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevMedium.woff') format('woff');
}
@font-face {
  font-family: "Korolev-Heavy";
  src: url('https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevHeavy.woff2') format('woff2'), url('https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevHeavy.woff') format('woff');
}

body{
  // InstaFeed
  .instafeed-wrp{
    background-color:$dark-green;
    padding:0 20px;
    padding-top:100px;
    @media only screen and (min-width:1200px) {
      padding:0;
      padding-top:100px;
    }
    .instafeed-header {
      display: flex;
      width: 100%;
      max-width: 1200px;
      padding: 0 1%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: flex-end;
      h1{
        font-size: 22px;
        color:white;
        text-transform: uppercase;
        @media only screen and (min-width:640px) {
          font-size: 25px;
        }
      }
    }
    div#insta-feed {
      max-width: 1200px;
      padding: 20px 0px;
    }
    .ig-link a{
      display: flex;
      align-items: center;
      strong{
        color:white;
        font-size: 16px;
        margin-right: 10px;
        @media only screen and (min-width:640px) {
          font-size: 20px;
        }
      }
    }
  }
  // FOOTER
  .footer{
    margin-top:0;
    background-color:$dark-green;
    color: white;

    .footer-content-top{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding: 0 20px;
      padding-top: 100px;
      max-width: 1200px;
      margin: 0 auto;
      flex-direction:column;
      @media only screen and (min-width:1000px) {
        flex-direction:row;
      }
      .footer-block-newsletter{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        @media only screen and (min-width:640px) {
          margin: unset;
          align-items: flex-start;
        }
        @media only screen and (min-width:1200px) {
          max-width: 450px;
        }

        h1.form-title{
          font-size: 25px;
          color: white;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        .footer-newsletter {
          width: 100%;
        }
        .klaviyo-form {
          margin-bottom: 30px;
          form div:first-child {
            min-height: unset !important;
          }
          div{
            &[component]{
              padding: 0 !important;
              input{
                background-color: transparent !important;
                border:none !important;
                color:white !important;
                font-family: $k-med;

                &::placeholder{
                  color:white !important;
                  font-family: $k-med;
                }
                &:-webkit-autofill,
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus, 
                &:-webkit-autofill:active{
                    transition: background-color 5000s ease-in-out 0s;
                    color:white !important;
                    -webkit-text-fill-color: white !important;
                }
              }
              button{
                font-size: 0 !important;
                background: url('//cdn.shopify.com/s/files/1/0575/8143/7028/files/icon-Arrow-Right.png') center center no-repeat !important;
                width: 25px !important;
                height: 25px !important;
                background-size: 15px !important;
                background-color: $neon-grellow !important;
                border-radius: 50% !important;
                padding: 0 !important;
                margin-right: 10px !important;
                align-self: center !important;
                position: absolute;
                top: 12px;
                right: 0px;
              }
            }
            &[data-testid="form-row"]{
              input[type="email"] {
                border-radius: 10px !important;
                border: 2px solid white !important;
                height: 50px !important;
              }
              .ql-editor p, .ql-editor p strong {
                color: white !important;
              }
            }
          }
        }
      }

      .list-social{
        .list-social__item {
          background-color: $neon-grellow;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 30px;
            height: 30px;
          }
        }
      }

      .footer-nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        max-width: 650px;
        margin-top:50px;
        justify-content: center;
        @media only screen and (min-width:640px) {
          justify-content: flex-start;
        }
        @media only screen and (min-width:1000px) {
          justify-content: flex-end;
          margin:0;
        }
        .links-wrp {
          max-width: 180px;
          width: 48%;
          margin: 0 1%;
          max-width: 160px;
          margin-bottom: 30px;
          text-align: center;
          @media only screen and (min-width:420px) {
            max-width: 200px;
          }
          @media only screen and (min-width:640px) {
            margin-bottom: 0px;
            text-align: left;
            width: 31%;
          }
          @media only screen and (min-width:1000px) {
            max-width: 180px;
          }
          @media only screen and (min-width:1200px) {
            max-width: 200px;
          }
          a {
            color: white;
            text-decoration: none;

            &.main-link {
              font-size: 25px;
              color: white;
              text-transform: uppercase;
              font-family: $k-heavy;
              display: block;
              line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
              margin-bottom: 20px;

              &[href*="/pages/ccpa-opt-out"]{
                font-size:15px;
              }
            }
            &.sub-links {
              font-size: 16px;
              display: block;
            }
          }
        }
      }
    }

    .footer-content-bottom {
      padding: 0 20px;
      padding-top: 100px;
      padding-bottom: 20px;

      .footer-bottom-wrp {
        border-top: 1px solid white;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-top: 10px;
        justify-content: center;
        flex-wrap: wrap;
        @media only screen and (min-width:401px) {
          justify-content: space-between;
        }

        .footer__copyright.caption {
          margin: 0;
        }
      }

      .footer__copyright small,
      .footer__copyright small a,
      .footer-legal-links a{
        color:white;
        text-decoration: none;
        font-size: 10px;
        padding:5px;
        @media only screen and (min-width:401px) {
          padding:10px;
        }
        @media only screen and (min-width:640px) {
          font-size: 14px;
        }
      }
    }
  }
}