@font-face {
  font-family: "Korolev-Medium";
  src: url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevMedium.woff2") format("woff2"), url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevMedium.woff") format("woff");
}

@font-face {
  font-family: "Korolev-Heavy";
  src: url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevHeavy.woff2") format("woff2"), url("https://cdn.shopify.com/s/files/1/0575/8143/7028/files/KorolevHeavy.woff") format("woff");
}

body .header {
  height: 50px;
  padding: 0 2rem;
}

@media only screen and (min-width: 640px) {
  body .header {
    height: 65px;
  }
}

body .header.header--middle-left {
      grid-template-areas: 'navigation heading icons';
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
}

body .header .header__heading-logo {
  width: 102px;
  height: auto;
}

body .header .header__heading-link {
  margin: 0;
}

@media only screen and (min-width: 990px) {
  body .header .header__heading-link {
    margin: 0;
  }
}

body .header nav.header__inline-menu .list-menu.list-menu--inline {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header nav.header__inline-menu .list-menu details[open] > .header__menu-item {
  text-decoration: unset;
}

body .header nav.header__inline-menu .list-menu details[open] > .header__menu-item .arrow-drop {
  display: block;
  z-index: 11;
}

body .header nav.header__inline-menu .list-menu details[open] .header__submenu {
  background-color: #00FABE;
  padding: 5rem 0;
}

body .header nav.header__inline-menu .list-menu details[open] .header__submenu .list-menu__item.link.link--text {
  font-size: 30px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: "Korolev-Heavy";
  color: #065142;
}

body .header nav.header__inline-menu .list-menu details[open] .header__submenu .list-menu__item.link.link--text:hover {
  color: #ADFF44;
}

body .header nav.header__inline-menu .list-menu details[open] > .header__submenu {
  width: 100vw;
  left: 0;
  position: fixed;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header nav.header__inline-menu .list-menu details summary.list-menu__item {
  padding: 10px;
  position: relative;
}

body .header nav.header__inline-menu .list-menu details summary span {
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  text-decoration: none;
  color: #065142;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}

body .header nav.header__inline-menu .list-menu details summary .arrow-drop {
  width: 30px;
  position: absolute;
  left: calc(50% - 15px);
  bottom: -20px;
  display: none;
}

body .header nav.header__inline-menu .list-menu details summary:hover span {
  background-color: #ADFF44;
}

body .header nav.header__inline-menu .list-menu .header__menu-item.header__menu-item.list-menu__item.link.link--text span {
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  text-decoration: none;
  color: #065142;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}

body .header nav.header__inline-menu .list-menu .header__menu-item.header__menu-item.list-menu__item.link.link--text span:hover {
  background-color: #ADFF44;
}

body .header .header__icons .header__icon {
  width: auto;
  height: auto;
  text-decoration: none;
  border-radius: 5px;
  padding: 0 5px;
  position: relative;
}

body .header .header__icons .header__icon:hover {
  background-color: #ADFF44;
}

body .header .header__icons .header__icon span {
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  color: #065142;
  font-size: 20px;
}

body .header .header__icons .header__icon .lnk-cpy {
  margin-right: 5px;
}

body .header .header__icons .header__icon .lnk-img {
  height: auto;
  width: 25px;
  padding: 5px 0;
}

body .header .header__icons .header__icon--cart .cart-count-bubble {
  right: 0;
  left: auto;
  color: white !important;
  background-color: #00fabe !important;
  bottom: 0;
}

body .header .header__icons .header__icon--cart .cart-count-bubble span {
  font-size: 12px;
}

body .header .nav-text {
  display: none !important;
}

@media only screen and (min-width: 750px) {
  body .header .nav-text {
    display: inline-block !important;
  }
}

body .header .menu-drawer-container .menu-drawer .menu-drawer__menu-item {
  font-family: "Korolev-Heavy";
  text-transform: uppercase;
  letter-spacing: 0;
  color: #065142;
  font-size: 24px;
}

body .header .menu-drawer-container.menu-opening .menu-drawer {
  background-color: #00FABE;
}
/*# sourceMappingURL=main-header.css.map */