.shopify-section.section-product-custom p, .shopify-section.section-product-custom h1, .shopify-section.section-product-custom h2, .shopify-section.section-product-custom h3, .shopify-section.section-product-custom h4 {
  letter-spacing: 0;
}

.shopify-section.section-product-custom ul {
  padding: 0;
  margin: 0;
}

.shopify-section.section-product-custom li {
  list-style: none;
}

.shopify-section.section-product-custom .product-info-wrp div:empty {
  display: block;
}

.shopify-section.section-product-custom .product-info-wrp .product-info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 767px) {
  .shopify-section.section-product-custom .product-info-wrp .product-info-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown {
  width: 100%;
  padding: 100px 20px;
}

@media screen and (min-width: 767px) {
  .shopify-section.section-product-custom .product-info-wrp .product-breakdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 40%;
  }
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-title {
  font-size: 25px;
  letter-spacing: 0;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 30px;
}

@media screen and (min-width: 767px) {
  .shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-title {
    font-size: 35px;
  }
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-counts p {
  font-size: 16px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-counts p strong {
  font-family: "Korolev-Heavy";
  font-size: 25px;
  padding-right: 5px;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp quantity-input.quantity::after {
  border-radius: 10px;
  border: 2px solid #065142;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp quantity-input.quantity .quantity__button:not(:focus-visible):not(.focused),
.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp quantity-input.quantity .quantity__input:not(:focus-visible):not(.focused) {
  border: none;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp product-form.product-form {
  width: 100%;
  margin-left: 20px;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp product-form.product-form button.product-form__submit {
  background-color: #ADFF44;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp product-form.product-form button.product-form__submit span {
  font-family: "Korolev-Heavy";
  color: #065142;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 767px) {
  .shopify-section.section-product-custom .product-info-wrp .product-gallery {
    width: 60%;
  }
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-images-1-3 {
  width: 100%;
  height: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-images-1-2 {
  width: 39%;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-image-1,
.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-image-2 {
  width: 100%;
  padding-top: 108%;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-image-3 {
  width: 61%;
  padding-top: 84%;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-image-4 {
  width: 100%;
  padding-bottom: 25%;
}
/*# sourceMappingURL=sctn-product-custom.css.map */