$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #FFF1D8;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.shopify-section{
  &.atf,
  &.atf-full{
    // Reset
    p, h1, h2, h3, h4{
      letter-spacing: 0;
      line-height:1;
    }
    ul{
      padding:0; 
      margin:0;
    }
    li{
      list-style: none;
    }
    // End Reset
    .content-wrp{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media screen and (min-width: 767px) {
        flex-direction: row;
      }
      
      .bg-image{
        display: block;
        padding-top: 100%;
        @media screen and (min-width: 767px) {
          height: 670px;
          padding:0;
        }
      }
      .copy-sctn{
        padding: 100px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 1000px) {
          
        }
        
        .copy-wrp{
          max-width:450px;
          margin:0 auto;
          h1{
            span{
              font-family: $k-heavy;
              display:inline-block;
              font-size:50px;
              text-transform:uppercase;
              @media screen and (min-width: 767px) {
                font-size:60px;
              }
              @media screen and (min-width: 1000px) {
                font-size:70px;
              }
            }
          }
          p{
            font-size:16px;
            line-height: 1.5;
            @media screen and (min-width: 1000px) {
              font-size:20px;
            }
          }
          a{
            margin-top:50px;
          }
        }
      }
      
      .bg-image,
      .copy-sctn{
        width:100%;
        @media screen and (min-width: 767px) {
          width:50%;
          height: 670px;
        }
      }
    }
  }
  &.atf-full{
    .content-wrp .bg-image{
      order:1;
      @media screen and (min-width: 767px) {
        order:2;
      }
    }
    .content-wrp .copy-sctn{
      order:2;
      @media screen and (min-width: 767px) {
        order:1;
      }
    }
  }
}