$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.shopify-section{
  &.section-you-may-also-items{
    // Reset
    p, h1, h2, h3, h4{
      letter-spacing: 0;
    }
    ul{
      padding:0; 
      margin:0;
    }
    li{
      list-style: none;
    }

    .you-may-also-items {
      max-width: 1200px;
      margin: 0 auto;
      padding: 100px 20px;
      border-bottom: 4px solid $dark-green;
    }
    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h2{
        font-size:25px;
        text-transform: uppercase;
        @media screen and (min-width: 640px) {
          font-size:35px;
        }
      }
      a.btn-link{
        min-width: 100px;
        padding: 10px 15px;
        font-size:12px;
        @media screen and (min-width: 640px) {
          font-size:16px;
        }
      }
    }
    ul.you-may-also-list-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 15px;
      li {
        width: 270px;
      }
    }
  }
}