.shopify-section{
  &.facts-background {
    .facts-content{
      padding: 100px 0;
      max-width:470px;
      margin:0 auto;
      text-align: center;
      position:relative;
      @media screen and (min-width: 640px) {
        max-width:700px;
      }
      .facts-header,
      .facts-sub-header,
      .facts-copy-wrp{
        max-width:470px;
        margin:0 auto;
      }
      h3{

      }
      img{
        width:120px;
        position: absolute;
        top: -70px;
        left: 60px;
        @media screen and (min-width: 640px) {
          width:170px;
          left: 10px;
        }
        @media screen and (min-width: 767px) {
          left: -30px;
        }
        @media screen and (min-width: 800px) {
          left: -70px;
        }
      }

    }
  }
}