$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.shopify-section{
  &.product-benefits{
    p, h1, h2, h3, h4{
      letter-spacing: 0;
    }
    .header-img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px 20px;

      .bnfts-title-d{
        display:none;
        height: 40px;
        @media screen and (min-width: 640px) {
          display:block;
        }
      }
      .bnfts-title-m{
        display:block;
        height: 65px;
        @media screen and (min-width: 640px) {
          display:none;
        }
      }
    }
    .benefits-wrp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding:0 20px;
      @media screen and (min-width: 640px) {
        padding:0;
        padding-left:20px;
      }
     

      .benefits-breakdown, .benefits-image {
        width: 50%;
      }
      .benefits-breakdown{
        order:2;
        @media screen and (min-width: 640px) {
          order:1;
          width: 40%;
          padding-right: 5%;
          padding-bottom: 70px;
        }
        @media screen and (min-width: 767px) {
          width: 45%;
        }

        .breakdown-header{
          // margin-bottom:20px;
          h2{
            font-size:25px;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom:20px;
            @media screen and (min-width: 640px) {
              font-size:35px;
            }
          }
          p{
            line-height: 1.4;
            padding-bottom:20px;
            border-bottom:2px solid $dark-green;
          }
        }
        .breakdown-list{
          .breakdown-item{
            border-bottom: 2px solid $dark-green;
            .breakdown-item-header{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px 0;

              h4{
                font-size: 16px;
                text-transform: uppercase;
              }
              .carrot-wrp{
                padding: 0 20px;
                .carrot-down,.carrot-up{
                  width: 20px;
                }
                .carrot-down{
                  display:block;
                }
                .carrot-up{
                  display:none;
                }
              }
            }
            p{
              font-size: 16px;
              line-height: 1.4;
              display:none;
              padding-bottom: 20px;
              height:0;
              transition:height 1s ease-out;
            }

            &.active{
              .carrot-wrp{
                .carrot-down{
                  display:none;
                }
                .carrot-up{
                  display:block;
                }
              }
              p{
                display:block;
                height: auto;
                transition:height 1s ease-in;
              }
            }
          }
        }
      }
      .benefits-image{
        width: 720px;
        height: 585px;
        display: block;
        order:1;
        @media screen and (min-width: 640px) {
          order:2;
          width: 55%;
        }
        @media screen and (min-width: 767px) {
          
          width: 50%;
        }
      }
    }
  }
}