$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.shopify-section{
  &.about-section{
    // Reset
    p, h1, h2, h3, h4{
      letter-spacing: 0;
      line-height:1;
    }
    ul{
      padding:0; 
      margin:0;
    }
    li{
      list-style: none;
    }
    // End Reset

    .about-section-content{
      max-width:1200px;
      margin:0 auto;
      padding:60px 20px;
      @media screen and (min-width: 767px) {
        padding:100px 20px;
      }
    }

    .section-wrp{
      max-width: 590px;
      margin: 0 auto;

      .section-image{
        max-width:590px;
        margin-bottom:30px;
        @media screen and (min-width: 767px) {
          margin-bottom:50px;
        }
      }
      .section-content{
        max-width:420px;
        margin: 0 auto;

        h1{
          font-size:35px;
          margin-bottom: 10px;
          text-transform:uppercase;

          @media screen and (min-width: 767px) {
            font-size:50px;
          }
        }
        p{
          font-size:16px;
          margin-bottom: 30px;
          line-height:1.4;
          @media screen and (min-width: 767px) {
            font-size:20px;
          }
        }
      }
      &.section-1-wrp{
        margin-bottom:50px;
      }
      &.section-2-wrp{
        margin-bottom:60px;
        @media screen and (min-width: 767px) {
          margin-bottom:100px;
        }
      }
      .icon-logo-wrp {
        max-width: 590px;
        margin: 0 auto;
        border-top: 4px solid $dark-green;
        padding-top: 30px;
      }
    }
  }
}