$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.shopify-section{
  &.section-discover-collections{
    // Reset
    p, h1, h2, h3, h4{
      letter-spacing: 0;
      line-height:1;
    }
    ul{
      padding:0; 
      margin:0;
    }
    li{
      list-style: none;
    }
    div:empty{
      display:block;
    }
    .btn-mbl{
      display:block;
      @media screen and (min-width: 640px) {
        display:none;
      }
    }
    .btn-dsktp{
      display:none;
      @media screen and (min-width: 640px) {
        display:block;
      }
    }
    // End Reset
    a.btn-arrow {
      background-color: $neon-grellow;
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: 10px;
      justify-content: center;
      align-items: center;
      img{
        width: 25px;
      }
    }

    .divider-top,
    .divider-bottom{
      border-bottom:4px solid $dark-green;
      width:100%;
    }
    .discover-collections {
      padding: 100px 20px;
      @media screen and (min-width: 1200px) {
        padding: 100px 0px;
      }
      .section-header {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
          text-transform: uppercase;
          font-size:35px;
          @media screen and (min-width: 640px) {
            font-size:50px;
          }
        }
      }
      .discover-list-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 640px) {
          flex-wrap: wrap;
        }

        li{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          max-width:335px;
          margin-bottom: 10px;
          @media screen and (min-width: 640px) {
            max-width:375px;
            flex-direction: column;
            margin-bottom: 0px;
          }

          .image-wrp{
            width: 165px;
            height: 165px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-width: 100%;
            }
          }
          .collection-info-wrp {
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            width: 155px;
            @media screen and (min-width: 340px) {
              width:170px;
            }
            @media screen and (min-width: 640px) {
              padding:0;
            }

            h2{
              font-size: 22px;
              text-transform: uppercase;
              @media screen and (min-width: 640px) {
                font-size: 25px;
              }
            }
            p{
              margin-top: 5px;
              font-size: 12px;
              @media screen and (min-width: 640px) {
                font-size: 16px;
              }
            }
          }
        }
      }
      .btn-container{
        max-width:335px;
        margin:0 auto;
        @media screen and (min-width: 640px) {
          max-width:375px;
        }
      }
    }
  }
}