.shopify-section.section-product-custom p, .shopify-section.section-product-custom h1, .shopify-section.section-product-custom h2, .shopify-section.section-product-custom h3, .shopify-section.section-product-custom h4 {
  letter-spacing: 0;
}

.shopify-section.section-product-custom ul {
  padding: 0;
  margin: 0;
}

.shopify-section.section-product-custom li {
  list-style: none;
}

.shopify-section.section-product-custom .product-info-wrp div:empty {
  display: block;
}

.shopify-section.section-product-custom .product-info-wrp .product-info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) {
  .shopify-section.section-product-custom .product-info-wrp .product-info-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown {
  width: 100%;
  padding: 100px 20px;
}

@media screen and (min-width: 767px) {
  .shopify-section.section-product-custom .product-info-wrp .product-breakdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 40%;
    padding: 20px;
  }
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .product__info-container {
  max-width: 450px;
  margin: 0 auto;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-title {
  font-size: 25px;
  letter-spacing: 0;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 30px;
}

@media screen and (min-width: 767px) {
  .shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-title {
    font-size: 35px;
  }
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-counts p {
  font-size: 16px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-counts p strong {
  font-family: "Korolev-Heavy";
  font-size: 25px;
  padding-right: 5px;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .prod-desc {
  margin-bottom: 10px;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .how-it-works {
  color: white;
  font-size: 14px;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .how-it-works strong {
  color: white;
  font-family: "Korolev-Heavy";
  font-size: 20px;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .how-it-works a {
  font-size: 14px;
}

.shopify-section.section-product-custom .product-info-wrp .product-breakdown .rc-selling-plans-dropdown__select {
  border-radius: 10px;
  border: 3px solid #065142;
  font-family: "Korolev-Medium";
  color: #065142;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
  margin-top: 5px;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp quantity-input.quantity {
  max-width: 100px;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp quantity-input.quantity::after {
  border-radius: 10px;
  border: 2px solid #065142;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp quantity-input.quantity .quantity__button:not(:focus-visible):not(.focused),
.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp quantity-input.quantity .quantity__input:not(:focus-visible):not(.focused) {
  border: none;
  font-size: 20px;
  font-family: "Korolev-Heavy";
  color: #065142;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp quantity-input.quantity button.quantity__button {
  width: 35px;
  font-family: "Korolev-Heavy";
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp product-form.product-form {
  width: 100%;
  margin-left: 20px;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp product-form.product-form button.product-form__submit {
  background-color: #ADFF44;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp product-form.product-form button.product-form__submit:after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shopify-section.section-product-custom .product-info-wrp .submit-selection-wrp product-form.product-form button.product-form__submit span {
  font-family: "Korolev-Heavy";
  color: #065142;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 20px;
}

.shopify-section.section-product-custom .product-info-wrp .product-details-wrp {
  margin-top: 30px;
  border-top: 2px solid #065142;
}

.shopify-section.section-product-custom .product-info-wrp .product-details-wrp .product-details {
  border-bottom: 2px solid #065142;
  padding: 15px 10px;
}

.shopify-section.section-product-custom .product-info-wrp .product-details-wrp .product-details .details-header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopify-section.section-product-custom .product-info-wrp .product-details-wrp .product-details .details-header h4 {
  text-transform: uppercase;
  font-size: 20px;
}

.shopify-section.section-product-custom .product-info-wrp .product-details-wrp .product-details .details-header img {
  width: 25px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.shopify-section.section-product-custom .product-info-wrp .product-details-wrp .product-details .details-copy {
  display: none;
  margin-top: 20px;
}

.shopify-section.section-product-custom .product-info-wrp .product-details-wrp .product-details.active .details-header img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 767px) {
  .shopify-section.section-product-custom .product-info-wrp .product-gallery {
    width: 60%;
  }
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-images-1-3 {
  width: 100%;
  height: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-images-1-2 {
  width: 39%;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-image-1,
.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-image-2 {
  width: 100%;
  padding-top: 108%;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-image-1 {
  border-bottom: 2px solid #FFFFFF;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-image-3 {
  width: 61%;
  padding-top: 84%;
  border-left: 2px solid #FFFFFF;
}

.shopify-section.section-product-custom .product-info-wrp .product-gallery .gallery-image-4 {
  width: 100%;
  padding-bottom: 25%;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
/*# sourceMappingURL=sctn-product-custom.css.map */