$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #FFF1D8;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.shopify-section{
  &.product-benefits{
    
    p, h1, h2, h3, h4{
      letter-spacing: 0;
    }
    .header-img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px 20px;
      @media screen and (min-width: 640px) {
        padding: 100px 20px;
      }

      .bnfts-title-d{
        display:none;
        height: 40px;
        @media screen and (min-width: 640px) {
          display:block;
        }
      }
      .bnfts-title-m{
        display:block;
        height: 65px;
        @media screen and (min-width: 640px) {
          display:none;
        }
      }
    }
    .benefits-wrp {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 0 auto;
      padding:0 20px;
      max-width: 500px;
      @media screen and (min-width: 640px) {
        flex-direction: row;
        padding:0;
        padding-left:20px;
      }
     

      .benefits-breakdown, .benefits-image {
        @media screen and (min-width: 640px) {
          width: 50%;
        }
      }
      .benefits-breakdown{
        order:2;
        padding: 50px 5%;
        @media screen and (min-width: 640px) {
          order:1;
          width: 40%;
          padding: 60px 5%;
        }
        @media screen and (min-width: 767px) {
          width: 45%;
          padding: 80px 5%;
        }

        .breakdown-header{
          // margin-bottom:20px;
          h2{
            font-size:25px;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom:20px;
            @media screen and (min-width: 640px) {
              font-size:35px;
            }
          }
          p{
            line-height: 1.4;
            padding-bottom:20px;
            border-bottom:2px solid $dark-green;
          }
        }
        .breakdown-list{
          .breakdown-item{
            border-bottom: 2px solid $dark-green;
            .breakdown-item-header{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px 0;

              h4{
                font-size: 16px;
                text-transform: uppercase;
              }
              .carrot-wrp{
                padding: 0 20px;
                .carrot-down,.carrot-up{
                  width: 20px;
                }
                .carrot-down{
                  display:block;
                }
                .carrot-up{
                  display:none;
                }
              }
            }
            p{
              font-size: 16px;
              line-height: 1.4;
              display:none;
              padding-bottom: 10px;
              height:0;
              transition:height 1s ease-out;
            }

            &.active{
              .carrot-wrp{
                .carrot-down{
                  display:none;
                }
                .carrot-up{
                  display:block;
                }
              }
              p{
                display:block;
                height: auto;
                transition:height 1s ease-in;
              }
            }
          }
        }
      }
      .benefits-image{
        width: 100%;
        max-width: 100%;
        height: 0;
        padding-bottom: 80%;
        display: block;
        order:1;
        @media screen and (min-width: 640px) {
          order:2;
          width: 60%;
          max-width: 720px;
          height: 585px;
          padding:0;
        }
        @media screen and (min-width: 767px) {
          width: 55%;
        }
      }
    }



    &.prod-benefits-full{
      .benefits-wrp {
        padding:0;
        @media screen and (min-width: 640px) {
          padding:0;
        }
        .benefits-breakdown{
          display: flex;
          flex-direction: column;
          justify-content: center;
          order:1;
          @media screen and (min-width: 640px) {
            width: 60%;
          }
        }
        .benefits-image{
          width: 100%;
          height: 0;
          padding-bottom:90%;
          @media screen and (min-width: 640px) {
            width: 40%;
            padding-bottom: 85%;
            background-size: cover;
            background-position: left center;
          }
          @media screen and (min-width: 767px) {
            width: 55%;
            height: 585px;
            padding:0;
            background-position: left bottom;
          }
        }
      }
    }
  }
}