.shopify-section.basic-content p, .shopify-section.basic-content h1, .shopify-section.basic-content h2, .shopify-section.basic-content h3, .shopify-section.basic-content h4 {
  letter-spacing: 0;
  line-height: 1;
}

.shopify-section.basic-content ul {
  padding: 0;
  margin: 0;
}

.shopify-section.basic-content li {
  list-style: none;
}

.shopify-section.basic-content .content-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 767px) {
  .shopify-section.basic-content .content-wrp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.shopify-section.basic-content .content-wrp .bg-image {
  display: block;
  padding-top: 100%;
}

@media screen and (min-width: 767px) {
  .shopify-section.basic-content .content-wrp .bg-image {
    height: 670px;
    padding: 0;
  }
}

.shopify-section.basic-content .content-wrp .copy-sctn {
  padding: 100px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  .shopify-section.basic-content .content-wrp .copy-sctn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp {
  max-width: 450px;
  margin: 0 auto;
}

.shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp h1 {
  font-size: 35px;
  text-transform: uppercase;
  max-width: 300px;
  margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
  .shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp h1 {
    font-size: 40px;
    max-width: 350px;
  }
}

@media screen and (min-width: 1000px) {
  .shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp h1 {
    font-size: 50px;
    max-width: 400px;
  }
}

.shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp p,
.shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp p strong,
.shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp p span {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 1000px) {
  .shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp p,
  .shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp p strong,
  .shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp p span {
    font-size: 20px;
  }
}

.shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp p strong {
  font-family: "Korolev-Heavy";
}

.shopify-section.basic-content .content-wrp .copy-sctn .copy-wrp a {
  margin-top: 50px;
}

.shopify-section.basic-content .content-wrp .bg-image,
.shopify-section.basic-content .content-wrp .copy-sctn {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .shopify-section.basic-content .content-wrp .bg-image,
  .shopify-section.basic-content .content-wrp .copy-sctn {
    width: 50%;
    height: 670px;
  }
}

@media screen and (min-width: 767px) {
  .shopify-section.basic-content .basic-content-wrp.bc-left .content-wrp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 767px) {
  .shopify-section.basic-content .basic-content-wrp.basic-content-template--15005112336484__165742985020807c1f .content-wrp, .shopify-section.basic-content .basic-content-wrp.basic-content-template--15005075898468__165742985020807c1f .content-wrp {
    height: 460px;
  }
}

@media screen and (min-width: 767px) {
  .shopify-section.basic-content .basic-content-wrp.basic-content-template--15005112336484__165742985020807c1f .content-wrp .bg-image, .shopify-section.basic-content .basic-content-wrp.basic-content-template--15005075898468__165742985020807c1f .content-wrp .bg-image {
    height: 460px;
  }
}
/*# sourceMappingURL=sctn-basic-content.css.map */