.shopify-section.product-benefits p, .shopify-section.product-benefits h1, .shopify-section.product-benefits h2, .shopify-section.product-benefits h3, .shopify-section.product-benefits h4 {
  letter-spacing: 0;
}

.shopify-section.product-benefits .header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 20px;
}

.shopify-section.product-benefits .header-img .bnfts-title-d {
  display: none;
  height: 40px;
}

@media screen and (min-width: 640px) {
  .shopify-section.product-benefits .header-img .bnfts-title-d {
    display: block;
  }
}

.shopify-section.product-benefits .header-img .bnfts-title-m {
  display: block;
  height: 65px;
}

@media screen and (min-width: 640px) {
  .shopify-section.product-benefits .header-img .bnfts-title-m {
    display: none;
  }
}

.shopify-section.product-benefits .benefits-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 640px) {
  .shopify-section.product-benefits .benefits-wrp {
    padding: 0;
    padding-left: 20px;
  }
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown, .shopify-section.product-benefits .benefits-wrp .benefits-image {
  width: 50%;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 640px) {
  .shopify-section.product-benefits .benefits-wrp .benefits-breakdown {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 40%;
    padding-right: 5%;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 767px) {
  .shopify-section.product-benefits .benefits-wrp .benefits-breakdown {
    width: 45%;
  }
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-header h2 {
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-header h2 {
    font-size: 35px;
  }
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-header p {
  line-height: 1.4;
  padding-bottom: 20px;
  border-bottom: 2px solid #065142;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item {
  border-bottom: 2px solid #065142;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item .breakdown-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item .breakdown-item-header h4 {
  font-size: 16px;
  text-transform: uppercase;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item .breakdown-item-header .carrot-wrp {
  padding: 0 20px;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item .breakdown-item-header .carrot-wrp .carrot-down, .shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item .breakdown-item-header .carrot-wrp .carrot-up {
  width: 20px;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item .breakdown-item-header .carrot-wrp .carrot-down {
  display: block;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item .breakdown-item-header .carrot-wrp .carrot-up {
  display: none;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item p {
  font-size: 16px;
  line-height: 1.4;
  display: none;
  padding-bottom: 20px;
  height: 0;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item.active .carrot-wrp .carrot-down {
  display: none;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item.active .carrot-wrp .carrot-up {
  display: block;
}

.shopify-section.product-benefits .benefits-wrp .benefits-breakdown .breakdown-list .breakdown-item.active p {
  display: block;
  height: auto;
  -webkit-transition: height 1s ease-in;
  transition: height 1s ease-in;
}

.shopify-section.product-benefits .benefits-wrp .benefits-image {
  width: 720px;
  height: 585px;
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 640px) {
  .shopify-section.product-benefits .benefits-wrp .benefits-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 55%;
  }
}

@media screen and (min-width: 767px) {
  .shopify-section.product-benefits .benefits-wrp .benefits-image {
    width: 50%;
  }
}
/*# sourceMappingURL=sctn-product-benefits.css.map */