$dark-green-secondary: #418275;
$dark-green: #065142;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.shopify-section{
  &.section-product-custom{
    // Reset
    p, h1, h2, h3, h4{
      letter-spacing: 0;
    }
    ul{
      padding:0; 
      margin:0;
    }
    li{
      list-style: none;
    }
    // End Reset

    .product-info-wrp {
      div:empty{
        display:block;
      }
      .product-info-content{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (min-width: 767px) {
          flex-direction: row;
        }
      }
      .product-breakdown{
        width:100%;
        padding: 100px 20px;

        @media screen and (min-width: 767px) {
          flex-direction: row;
          width: 40%;
        }
        .prod-title{
          font-size:25px;
          letter-spacing: 0;
          line-height: 1;
          text-align: center;
          margin-bottom:10px;
          padding: 0 30px;

          @media screen and (min-width: 767px) {
            font-size:35px;
          }
        }
        .prod-counts {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom:10px;
          p{
            font-size:16px;
            padding: 0 10px;
            display: flex;
            align-items: center;
            strong{
              font-family: $k-heavy;
              font-size:25px;
              padding-right:5px;
            };
          }
        }
      }
      .submit-selection-wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;

        quantity-input.quantity{
          &::after {
            border-radius: 10px;
            border: 2px solid $dark-green;
          }
          .quantity__button:not(:focus-visible):not(.focused), 
          .quantity__input:not(:focus-visible):not(.focused) {
            border: none;
          }
        }
        product-form.product-form {
          width: 100%;
          margin-left: 20px;
          button.product-form__submit{
            background-color: $neon-grellow;
            border-radius: 10px;
            &:after{
              box-shadow:none;
            }
            span{
              font-family: $k-heavy;
              color: $dark-green;
              text-transform: uppercase;
              letter-spacing: 0;
              font-size: 20px;
            }
          }
        }
      }
      .product-gallery {
        width:100%;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 767px) {
          width: 60%;
        }


        .gallery-images-1-3 {
          width:100%;
          height: 66%;
          display: flex;
          flex-direction: row;
        }
        .gallery-images-1-2{
          width: 39%;
        }
        .gallery-image-1,
        .gallery-image-2{
          width: 100%;
          padding-top: 108%;
        }
        .gallery-image-1{
          
        }
        .gallery-image-2{

        }
        .gallery-image-3{
          width:61%;
          padding-top: 84%;
        }
        .gallery-image-4{
          width: 100%;
          padding-bottom: 25%;
        }
      }
      
    }
  }
}