.shopify-section.atf p, .shopify-section.atf h1, .shopify-section.atf h2, .shopify-section.atf h3, .shopify-section.atf h4, .shopify-section.atf-full p, .shopify-section.atf-full h1, .shopify-section.atf-full h2, .shopify-section.atf-full h3, .shopify-section.atf-full h4 {
  letter-spacing: 0;
  line-height: 1;
}

.shopify-section.atf ul, .shopify-section.atf-full ul {
  padding: 0;
  margin: 0;
}

.shopify-section.atf li, .shopify-section.atf-full li {
  list-style: none;
}

.shopify-section.atf .content-wrp, .shopify-section.atf-full .content-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 767px) {
  .shopify-section.atf .content-wrp, .shopify-section.atf-full .content-wrp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.shopify-section.atf .content-wrp .bg-image, .shopify-section.atf-full .content-wrp .bg-image {
  display: block;
  padding-top: 70%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 767px) {
  .shopify-section.atf .content-wrp .bg-image, .shopify-section.atf-full .content-wrp .bg-image {
    height: 670px;
    padding-top: 100%;
    padding: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.shopify-section.atf .content-wrp .copy-sctn, .shopify-section.atf-full .content-wrp .copy-sctn {
  padding: 100px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 767px) {
  .shopify-section.atf .content-wrp .copy-sctn, .shopify-section.atf-full .content-wrp .copy-sctn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.shopify-section.atf .content-wrp .copy-sctn .copy-wrp, .shopify-section.atf-full .content-wrp .copy-sctn .copy-wrp {
  max-width: 450px;
  margin: 0 auto;
}

.shopify-section.atf .content-wrp .copy-sctn .copy-wrp h1 span, .shopify-section.atf-full .content-wrp .copy-sctn .copy-wrp h1 span {
  font-family: "Korolev-Heavy";
  display: block;
  font-size: 50px;
  text-transform: uppercase;
}

@media screen and (min-width: 767px) {
  .shopify-section.atf .content-wrp .copy-sctn .copy-wrp h1 span, .shopify-section.atf-full .content-wrp .copy-sctn .copy-wrp h1 span {
    font-size: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .shopify-section.atf .content-wrp .copy-sctn .copy-wrp h1 span, .shopify-section.atf-full .content-wrp .copy-sctn .copy-wrp h1 span {
    font-size: 70px;
  }
}

.shopify-section.atf .content-wrp .copy-sctn .copy-wrp p, .shopify-section.atf-full .content-wrp .copy-sctn .copy-wrp p {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 1000px) {
  .shopify-section.atf .content-wrp .copy-sctn .copy-wrp p, .shopify-section.atf-full .content-wrp .copy-sctn .copy-wrp p {
    font-size: 20px;
  }
}

.shopify-section.atf .content-wrp .copy-sctn .copy-wrp a, .shopify-section.atf-full .content-wrp .copy-sctn .copy-wrp a {
  margin-top: 50px;
}

.shopify-section.atf .content-wrp .bg-image,
.shopify-section.atf .content-wrp .copy-sctn, .shopify-section.atf-full .content-wrp .bg-image,
.shopify-section.atf-full .content-wrp .copy-sctn {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .shopify-section.atf .content-wrp .bg-image,
  .shopify-section.atf .content-wrp .copy-sctn, .shopify-section.atf-full .content-wrp .bg-image,
  .shopify-section.atf-full .content-wrp .copy-sctn {
    width: 50%;
    height: 670px;
  }
}

.shopify-section.atf-full .content-wrp .bg-image {
  display: none;
}

@media screen and (min-width: 767px) {
  .shopify-section.atf-full .content-wrp .bg-image {
    display: block;
    height: 670px;
    padding-top: 100%;
    padding: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.shopify-section.atf-full .content-wrp .copy-sctn {
  padding: 100px 30px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 70%;
  -ms-grid-column-align: self-start;
      justify-self: self-start;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
}

@media screen and (min-width: 767px) {
  .shopify-section.atf-full .content-wrp .copy-sctn {
    width: 50%;
    padding: 100px 20px;
  }
}
/*# sourceMappingURL=sctn-atf.css.map */