.shopify-section.atf-breakdown p, .shopify-section.atf-breakdown h1, .shopify-section.atf-breakdown h2, .shopify-section.atf-breakdown h3, .shopify-section.atf-breakdown h4 {
  letter-spacing: 0;
  line-height: 1;
}

.shopify-section.atf-breakdown ul {
  padding: 0;
  margin: 0;
}

.shopify-section.atf-breakdown li {
  list-style: none;
}

.shopify-section.atf-breakdown .content-wrp {
  max-width: 1200px;
  padding: 70px 20px;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .shopify-section.atf-breakdown .content-wrp {
    padding: 100px 20px;
  }
}

@media screen and (min-width: 1240px) {
  .shopify-section.atf-breakdown .content-wrp {
    padding: 100px 0;
  }
}

.shopify-section.atf-breakdown .content-wrp .header-wrp {
  text-align: center;
}

.shopify-section.atf-breakdown .content-wrp .header-wrp h1 {
  font-size: 35px;
  text-transform: uppercase;
  max-width: 310px;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media screen and (min-width: 640px) {
  .shopify-section.atf-breakdown .content-wrp .header-wrp h1 {
    font-size: 50px;
    max-width: 440px;
  }
}

.shopify-section.atf-breakdown .content-wrp .header-wrp p {
  font-size: 16px;
  line-height: 1.4;
  max-width: 335px;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .shopify-section.atf-breakdown .content-wrp .header-wrp p {
    font-size: 20px;
    max-width: 550px;
  }
}

.shopify-section.atf-breakdown .content-wrp .header-wrp .icon-image {
  width: 100px;
  margin: 0px auto;
}

@media screen and (min-width: 640px) {
  .shopify-section.atf-breakdown .content-wrp .header-wrp .icon-image {
    width: 200px;
  }
}

.shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-title {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-family: "Korolev-Heavy";
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 4px solid #065142;
  margin-bottom: 30px;
}

@media screen and (min-width: 640px) {
  .shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-title {
    font-size: 35px;
    margin-bottom: 50px;
  }
}

.shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 620px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 1200px) {
  .shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-items {
    max-width: unset;
  }
}

.shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-item {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 640px) {
  .shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-item {
    width: 270px;
    margin: 0;
    margin-bottom: 30px;
  }
}

.shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-item img {
  max-width: 100%;
  margin-bottom: 20px;
}

.shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-item h2 {
  font-size: 16px;
  text-transform: uppercase;
  height: 40px;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
  .shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-item h2 {
    font-size: 20px;
  }
}

.shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-item p {
  font-size: 12px;
  line-height: 1.4;
}

@media screen and (min-width: 640px) {
  .shopify-section.atf-breakdown .content-wrp .breakdown-wrp .breakdown-item p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=sctn-atf-breakdown.css.map */