$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #FFF1D8;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.shopify-section{
  &.about-section{
    // Reset
    p, h1, h2, h3, h4{
      letter-spacing: 0;
      line-height:1;
    }
    ul{
      padding:0; 
      margin:0;
    }
    li{
      list-style: none;
    }
    // End Reset

    .about-section-content{
      max-width:1200px;
      margin:0 auto;
      padding:60px 20px;
      @media screen and (min-width: 767px) {
        padding:100px 20px;
      }
    }

    .section-wrp{
      max-width: 590px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 767px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: unset;
      }

      .section-image{
        max-width:100%;
        margin: 0 auto;
        margin-bottom: 30px;
        @media screen and (min-width: 450px) {
          max-width: 420px;
        }
        @media screen and (min-width: 767px) {
          max-width:590px;
          margin:0;
          width: 50%;
        }
      }
      .section-content{
        max-width:420px;
        margin: 0 auto;
        @media screen and (min-width: 767px) {
          width: 50%;
        }

        h1{
          font-size:35px;
          margin-bottom: 10px;
          text-transform:uppercase;

          @media screen and (min-width: 767px) {
            font-size:40px;
          }
          @media screen and (min-width: 100px) {
            font-size:50px;
          }
        }
        p{
          font-size:16px;
          margin-bottom: 30px;
          line-height:1.4;
          @media screen and (min-width: 767px) {
            font-size:18px;
          }
          @media screen and (min-width: 1000px) {
            font-size:20px;
          }
        }
        .btn-link{
          max-width: 170px;
        }
      }
      &.section-1-wrp{
        margin-bottom:50px;

        .section-1-content.section-content {
          @media screen and (min-width: 767px) {
            padding-left: 30px;
          }
          @media screen and (min-width: 1000px) {
            padding: 0;
          }
        }
      }
      &.section-2-wrp{
        margin-bottom:60px;
        @media screen and (min-width: 767px) {
          margin-bottom:100px;
          flex-flow: row-reverse;
        }
        .section-2-content.section-content {
          @media screen and (min-width: 767px) {
            padding-right: 30px;
          }
          @media screen and (min-width: 1000px) {
            padding: 0;
          }
        }
      }
    }
    .icon-logo-wrp {
      max-width: 590px;
      margin: 0 auto;
      border-top: 4px solid $dark-green;
      padding: 30px 0;
      

      
      @media screen and (min-width: 767px) {
        max-width: unset;
      }
      .logos{
        max-width:420px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 640px) {
          justify-content: space-between;
          max-width: 1000px;
        }
      }
      img{
        margin: 10px;

        &.icon-1{
          width:100px;
          @media screen and (min-width: 767px) {
            width: 130px;
          }
          @media screen and (min-width: 1000px) {
            width: 150px;
          }
        }
        &.icon-2{
          width: 140px;
          @media screen and (min-width: 767px) {
            width: 170px;
          }
          @media screen and (min-width: 1000px) {
            width: 190px;
          }
        }
        &.icon-3{
          width: 110px;
          @media screen and (min-width: 767px) {
            width: 140px;
          }
          @media screen and (min-width: 1000px) {
            width: 160px;
          }
        }
        &.icon-4{
          width: 130px;
          @media screen and (min-width: 767px) {
            max-width: 160px;
          }
          @media screen and (min-width: 1000px) {
            width: 180px;
          }
        }
      }
    }
  }
}