$dark-green: #065142;
$dark-green-secondary: #418275;
$neon-green: #00FABE;
$cream: #F8F0DC;
$neon-grellow: #ADFF44;
$pale-blue: #EFFCF6;
$error-red: #FF4466;
$k-med:'Korolev-Medium';
$k-heavy:'Korolev-Heavy';

.shopify-section{
  &.social-outreach{
    .social-outreach-content {
      padding: 70px 20px;
      max-width: 1200px;
      margin: 0 auto;

      h1{
        font-size:35px;
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: 1;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
        @media screen and (min-width: 640px) {
          font-size:50px;
          margin-bottom: 70px;
        }
      }
      .social-posts-wrp{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        .social-post {
          max-width: 580px;
        }
      }
    }
  }
}