.shopify-section.about-section p, .shopify-section.about-section h1, .shopify-section.about-section h2, .shopify-section.about-section h3, .shopify-section.about-section h4 {
  letter-spacing: 0;
  line-height: 1;
}

.shopify-section.about-section ul {
  padding: 0;
  margin: 0;
}

.shopify-section.about-section li {
  list-style: none;
}

.shopify-section.about-section .about-section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .about-section-content {
    padding: 100px 20px;
  }
}

.shopify-section.about-section .section-wrp {
  max-width: 590px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .section-wrp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: unset;
  }
}

.shopify-section.about-section .section-wrp .section-image {
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .section-wrp .section-image {
    max-width: 590px;
    margin: 0;
    width: 50%;
  }
}

.shopify-section.about-section .section-wrp .section-content {
  max-width: 420px;
  margin: 0 auto;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .section-wrp .section-content {
    width: 50%;
  }
}

.shopify-section.about-section .section-wrp .section-content h1 {
  font-size: 35px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .section-wrp .section-content h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 100px) {
  .shopify-section.about-section .section-wrp .section-content h1 {
    font-size: 50px;
  }
}

.shopify-section.about-section .section-wrp .section-content p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.4;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .section-wrp .section-content p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) {
  .shopify-section.about-section .section-wrp .section-content p {
    font-size: 20px;
  }
}

.shopify-section.about-section .section-wrp .section-content .btn-link {
  max-width: 170px;
}

.shopify-section.about-section .section-wrp.section-1-wrp {
  margin-bottom: 50px;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .section-wrp.section-1-wrp .section-1-content.section-content {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .shopify-section.about-section .section-wrp.section-1-wrp .section-1-content.section-content {
    padding: 0;
  }
}

.shopify-section.about-section .section-wrp.section-2-wrp {
  margin-bottom: 60px;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .section-wrp.section-2-wrp {
    margin-bottom: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .section-wrp.section-2-wrp .section-2-content.section-content {
    padding-right: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .shopify-section.about-section .section-wrp.section-2-wrp .section-2-content.section-content {
    padding: 0;
  }
}

.shopify-section.about-section .icon-logo-wrp {
  max-width: 590px;
  margin: 0 auto;
  border-top: 4px solid #065142;
  padding: 30px 0;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .icon-logo-wrp {
    max-width: unset;
  }
}

.shopify-section.about-section .icon-logo-wrp .logos {
  max-width: 420px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 640px) {
  .shopify-section.about-section .icon-logo-wrp .logos {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1000px;
  }
}

.shopify-section.about-section .icon-logo-wrp img {
  margin: 10px;
}

.shopify-section.about-section .icon-logo-wrp img.icon-1 {
  width: 100px;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .icon-logo-wrp img.icon-1 {
    width: 130px;
  }
}

@media screen and (min-width: 1000px) {
  .shopify-section.about-section .icon-logo-wrp img.icon-1 {
    width: 150px;
  }
}

.shopify-section.about-section .icon-logo-wrp img.icon-2 {
  width: 140px;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .icon-logo-wrp img.icon-2 {
    width: 170px;
  }
}

@media screen and (min-width: 1000px) {
  .shopify-section.about-section .icon-logo-wrp img.icon-2 {
    width: 190px;
  }
}

.shopify-section.about-section .icon-logo-wrp img.icon-3 {
  width: 110px;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .icon-logo-wrp img.icon-3 {
    width: 140px;
  }
}

@media screen and (min-width: 1000px) {
  .shopify-section.about-section .icon-logo-wrp img.icon-3 {
    width: 160px;
  }
}

.shopify-section.about-section .icon-logo-wrp img.icon-4 {
  width: 130px;
}

@media screen and (min-width: 767px) {
  .shopify-section.about-section .icon-logo-wrp img.icon-4 {
    max-width: 160px;
  }
}

@media screen and (min-width: 1000px) {
  .shopify-section.about-section .icon-logo-wrp img.icon-4 {
    width: 180px;
  }
}
/*# sourceMappingURL=sctn-about-section.css.map */